<!-- <!DOCTYPE html> -->
<!-- <html xmlns:th="http://www.thymeleaf.org"> -->
<!-- <meta charset="ISO-8859-1"> -->
<!-- <head> -->
<!-- <title>Login</title> -->
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
<!-- <style> -->
<!-- /* table td { */ -->
<!-- /* 	vertical-align: top; */ -->
<!-- /* 	border: solid 1px #888; */ -->
<!-- /* 	padding: 10px; */ -->
<!-- /* } */ -->
<!-- /* span { */ -->
<!-- /* 	color: red; */ -->
<!-- /* } */ -->
<!-- </style> -->
<!-- </head> -->
<!-- <body> -->
<!-- 	<div> -->
<!-- 		<form th:action="@{/user/login}" th:object="${authModel}" method="post"> -->
<!-- 			<div style="color: red"> -->
<!-- 				<span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span> -->
<!-- 			</div> -->
<!-- 			<table> -->
<!-- 				<tr> -->
<!-- 					<td> -->
<!-- 						<label for="username">User name</label> -->
<!-- 						<input type="text" id="username" th:field="*{username}" /> -->
<!-- 						<span class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span> -->
<!-- 					</td> -->
<!-- 				</tr> -->
<!-- 				<tr> -->
<!-- 					<td> -->
<!-- 						<label for="password">Password</label> -->
<!-- 						<input type="password" id="password" th:field="*{password}" /> -->
<!-- 						<span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span> -->
<!-- 					</td> -->
<!-- 				</tr> -->
<!-- 				<tr> -->
<!-- 					<td> -->

<!-- 						<input type="submit" value="Login" /> -->
<!-- 						<input type="button" onclick="window.location.href='/user/register'" value="Register" /> -->
<!-- 						<input type="reset" value="Reset" /> -->
<!-- 					</td> -->
<!-- 				</tr> -->
<!-- 				<tr> -->
<!-- 					<td> -->
<!-- 						<a href="http://localhost:8080/user/send-mail">Forget password?</a> -->
<!-- 					</td> -->
<!-- 				</tr> -->
<!-- 			</table> -->
<!-- 		</form> -->
<!-- 	</div> -->
<!-- </body> -->
<!-- </html> -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Spring Security Tutorial</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body style="max-width: 450px; margin: 0 auto">
<!-- 	<div class="container"> -->
<!-- 		<div class="row"> -->
<!-- 			<div class="col-md-6 col-md-offset-3"> -->
				<div style="text-align: center;" class="row">
					<a class="tab-link tab-link-actice" href="#">Đăng nhập</a>
					<div class="divider--vertical"></div>
					<a class="tab-link" onclick="window.location.href='/login'">Đăng ký</a>
				</div>
				<form th:action="@{/login}" method="POST" class="form-horizontal" role ="form">
					<h3 class="form-signin-heading" th:text="Welcome"></h3>
					<br/>
					 
					<input type="text" id="username" name="username"  th:placeholder="Username"
						class="form-control" /> <br/> 
					<input type="password"  th:placeholder="Password"
						id="password" name="password" class="form-control" /> <br /> 
						
					<div align="center" th:if="${param.error}">
						<p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
					</div>
		<!-- 			<button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Login"></button> -->
					<div class="form-group" style="align-content: center;">
						<div class="col-sm-3" >
							<input type="submit" class="btn btn-lg btn-primary btn-block" value="Login" />
							<a href="http://localhost:8080/user/send-mail">Forget password?</a> -->
						</div>
					</div>
				</form>
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div> -->
</body>
</html>
